# .pre-commit-config.yaml
# See https://pre-commit.com for more information

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
    -   id: black
        # Jupyter notebooks can be formatted too
        # args: [--nb]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        # To add a rule to the linter, add it to the `extend-select` list.
        # The list of all rules can be found at:
        # https://docs.astral.sh/ruff/rules/
        # args: [--fix, --exit-non-zero-on-fix, --extend-select, "PLC", --extend-select, "PLE"]
